<strong><h2>PROFORMA</h2></strong>
<em><p>Ingrese los datos para la proforma</p></em>
<form>
    <label class="id"> Ingrese el ID de la PROFORMA:
        <input type="Text" id="id" placeholder="00001" required /> 
    </label>
    <label> Ingrese la FECHA DE EMISIÓN de la PROFORMA:
        <input type="date" id="fecha" required /> 
    </label>
    <label> Ingrese el TOTAL de la PROFORMA:
        <input type="Number" id="total" placeholder="0" required /> 
    </label> 
    <label id="checkbox">
        <input type="checkbox" id="validez" required />Valide la proforma
    </label>
    <label> Ingrese el ID de el proveedor:
        <input type="Text" id="proveedor" placeholder="00001" required /> 
    </label>

    <input class="botones" type="Submit" id="guardar" value="Guardar">
    <input class="botones" type="Submit" id="eliminar" value="Eliminar">
    <input class="botones" type="Submit" id="buscar" value="Buscar">
    <input class="botones" type="Submit" id="modificar" value="Modificar">
</form>